
.loading-ani{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #B0DBFF;
    animation: spin 1s infinite linear;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: -2px;
        top: -2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #B0DBFF;
        border-left-color: #4aabf8;
    }
}
.send-loading{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.2);
    animation: spin 1s infinite linear;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: -2px;
        top: -2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid #B0DBFF;
        border-left-color: #fff;
    }
}
@keyframes spin{
  100%{
  transform: rotate(360deg)
  }
}
@-webkit-keyframes spin{
  100%{
  transform: rotate(360deg)
  }
}
@-moz-keyframes spin{
  100%{
  transform: rotate(360deg)
  }
}
@-ms-keyframes spin{
  100%{
  transform: rotate(360deg)
  }
}
