.header-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color:#4AABF8;
    z-index: 1000;
    h2 {
        height: 44px;
        line-height: 44px;
        font-size: 17px;
        text-align: center;
    }
    .header-left{
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -2px;
    }
    .header-right{
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: 2px;
    }
}