.user-list{
    margin-top: 64px;
    a:nth-child(odd){
        .avatar{
            background-color: #B09AF4;
        }
    }
    a:nth-child(even){
        .avatar{
            background-color: #F6DA77;
        }
    }
}
.empty{
    display: flex;
    height: calc(100vh - 64px);
    height: -webkit-calc(100vh - 64px);
    justify-content: center;
    align-items: center;
}