#userDetail{
    .header-right{
        cursor: pointer;
    }
    .content-hd{
        padding: 15px 0;
        background: #4AABF8;
        text-align: center;
        .avatar{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            background: #F6DA77;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid #fff;
        }
        .name{
            color: #fff;
            font-size: 17px;
            margin: 15px 0;
        }
        input{
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 15px;
            padding-left: 15px;
            width: 210px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            font-size: 18px;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 2px;
        }
        .sendMail{
            display: block;
            margin: 0 auto;
            width: 88px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 13px;
            border: 1px solid #fff;
            border-radius: 100px;
        }
    }
    .content-bd{
        padding: 0 30px;
        p{
            color: #314567;
            font-size: 18px;
            height: 54px;
            display: flex;
            align-items: center;
            padding: 15px 0;
            i{
                margin-right: 15px;
                color: #A9B7C2;
            }
            .i-mail:before{
                content: '\e158';
            }
            .i-mobile:before{
                content: '\e325';
            }
            .i-phone:before{
                content: '\e0cd';
            }
        }
        input{
            padding-left: 15px;
            width: 210px;
            height: 40px;
            color: #314567;
            font-size: 18px;
            line-height: 40px;
            border: 1px solid #E5E7E8;
            border-radius: 2px;            
        }
    }
    .content-ft{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        .delete{
            display: block;
            margin: 30px;
            height: 48px;
            line-height: 48px;
            color: #F552A7;
            text-align: center;
            font-size: 17px;
            border: 1px solid #F552A7;
            border-radius: 6px;
        }
    }
    .show{
        display: block;
    }
    .hide{
        display: none!important;
    }
}